.app {
  background: #26282b;
}

#alpha {
  color: #FFF;
  text-align: center;
  font-family: "arial";
  font-size: 50vh;
  display: block;
  margin-top: 50px;
}

#slider-container {
  margin-top: 40px;
  padding: 0px 50px;
}
